<ion-view>
  <ion-nav-title>
    {{title}}
  </ion-nav-title>
  <ion-content has-header="true">
    <div class="theone-article-header full-image bgimage" ng-style="{'background-image': 'url(' + article.thumbnailUrl + ')'}">
      <div class="theone-article-header-word padding-left padding-right">
        <h2 class="title" ng-bind="article.title"></h2>
        <div class="summary col-offset-80 col">
          <time class="pull-right" ng-bind="article.updateTime | date:'yyyy-MM-dd'"></time>
        </div>
      </div>
    </div>
    <div class="row article">
      <div class="col col90 ">
        <div class="article-content padding-top"  compile-html="article.content">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
