<ion-view view-title="首页列表">
  <ion-content has-header="true">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>

    <ion-slide-box does-continue="true">
      <ion-slide ng-repeat="item in carousels">
        <div style="background-image: url(http://res.cloudinary.com/theone/image/upload/w_600,h_200,c_thumb/{{item.imgInCloud.public_id}}.jpg);" class="full-image bgimage side-img-box" >

        </div>
      </ion-slide>
    </ion-slide-box>

    <ion-list >

      <div ng-repeat="item in sections">

        <ion-item class='item-borderless item-divider text-center item-positive item-complex theone-item-divider'>
          {{item.name}}
        </ion-item>
        <ion-item class="item-thumbnail-right" ng-repeat="article in item.topArticles" href="#/article/{{article._id}}">
          <img class='theone-item-thumbnail' ng-src="http://res.cloudinary.com/theone/image/upload/w_200,h_160,c_thumb/{{article.thumbnail}}.jpg">
          <h2 ng-bind="article.title">
          </h2>
          <p ng-bind="article.descript">
          </p>

        </ion-item>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
